@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Noman Ahmed DevOps Technical Assesment</h1>
    <p>Email Address: nomanbcs@gmail.com</p>
</div>
